<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>
    <link rel="stylesheet" href="../static/output.css" />
    <link rel="stylesheet" href="../static/function.css" />
  </head>
  <body>
    <div class="flex w-full flex-col md:flex-row">
      <!-- form section -->
      <div class="hidden items-center justify-center w-full md:w-1/2 min-h-screen signup p-4">
        <!-- The main form container -->
        <div
          class="bg-white p-6 md:p-8 m-2 md:m-4 w-full max-w-md rounded-3xl border-2 border-gray-300"
        >
          <form action="/auth/signup" method="POST">
            <div class="relative mb-4">
              <h2
                class="flex text-2xl font-bold text-gray-900 mb-4 justify-center"
              >
                Sign Up
              </h2>
              <p
                class="my-6 text-sm text-gray-500 flex justify-center font-semibold"
              >
                Join to Our Community with all time access and free
              </p>
              <div
                class="mt-4 flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-4"
              >
                <div class="w-full sm:w-1/2">
                  <button
                    type="button"
                    class="w-full flex justify-center items-center gap-2 bg-white text-sm text-gray-600 p-2 rounded-md hover:bg-gray-50 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 transition-colors duration-300"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="w-4"
                      id="google"
                    >
                      <path
                        fill="#fbbb00"
                        d="M113.47 309.408 95.648 375.94l-65.139 1.378C11.042 341.211 0 299.9 0 256c0-42.451 10.324-82.483 28.624-117.732h.014L86.63 148.9l25.404 57.644c-5.317 15.501-8.215 32.141-8.215 49.456.002 18.792 3.406 36.797 9.651 53.408z"
                      ></path>
                      <path
                        fill="#518ef8"
                        d="M507.527 208.176C510.467 223.662 512 239.655 512 256c0 18.328-1.927 36.206-5.598 53.451-12.462 58.683-45.025 109.925-90.134 146.187l-.014-.014-73.044-3.727-10.338-64.535c29.932-17.554 53.324-45.025 65.646-77.911h-136.89V208.176h245.899z"
                      ></path>
                      <path
                        fill="#28b446"
                        d="m416.253 455.624.014.014C372.396 490.901 316.666 512 256 512c-97.491 0-182.252-54.491-225.491-134.681l82.961-67.91c21.619 57.698 77.278 98.771 142.53 98.771 28.047 0 54.323-7.582 76.87-20.818l83.383 68.262z"
                      ></path>
                      <path
                        fill="#f14336"
                        d="m419.404 58.936-82.933 67.896C313.136 112.246 285.552 103.82 256 103.82c-66.729 0-123.429 42.957-143.965 102.724l-83.397-68.276h-.014C71.23 56.123 157.06 0 256 0c62.115 0 119.068 22.126 163.404 58.936z"
                      ></path>
                    </svg>
                    Sign Up with Google
                  </button>
                </div>
                <div class="w-full sm:w-1/2">
                  <button
                    type="button"
                    class="w-full flex justify-center items-center gap-2 bg-white text-sm text-gray-600 p-2 rounded-md hover:bg-gray-50 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 transition-colors duration-300"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      id="github"
                      class="w-4"
                    >
                      <path
                        d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"
                      ></path>
                    </svg>
                    Sign Up with Github
                  </button>
                </div>
              </div>
              <p
                class="my-6 text-sm text-gray-500 flex justify-center font-semibold"
              >
                or with email
              </p>
              <div class="relative mb-4">
                <label
                  for="name"
                  class="leading-4 text-sm text-gray-900 font-bold"
                  >Username</label
                >
                <input
                  type="text"
                  id="name"
                  name="username"
                  class="w-full bg-white rounded border border-gray-300 focus:border-accent focus:ring-1 focus:ring-accent text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
              <div class="relative mb-4">
                <label
                  for="email"
                  class="leading-4 text-sm text-gray-900 font-bold"
                  >Email</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="w-full bg-white rounded border border-gray-300 focus:border-accent focus:ring-1 focus:ring-accent text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
              <div class="relative mb-4">
                <label
                  for="passw"
                  class="leading-4 text-sm text-gray-900 font-bold"
                  >Password</label
                >
                <input
                  type="password"
                  id="passw"
                  name="password"
                  class="w-full bg-white rounded border border-gray-300 focus:border-accent focus:ring-1 focus:ring-accent text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
              <button
                type="submit"
                class="text-white bg-primary border-0 py-2 px-8 focus:outline-none hover:bg-secondary transition delay-200 duration-300 ease-in-out rounded-lg text-base font-semibold mt-2 w-full"
              >
                Sign Up
              </button>
              <div class="mt-4 text-sm text-gray-600 text-center">
                <p>
                  Already have an account?
                  <a class="text-black hover:underline" onclick="renderSignin()"
                    >Login here</a
                  >
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="active items-center justify-center w-full md:w-1/2 min-h-screen signin p-4">
        <!-- The main form container -->
        <div
          class="bg-white p-6 md:p-8 m-2 md:m-4 w-full max-w-md rounded-3xl border-2 border-gray-300"
        >
          <form action="/auth/signin" method="POST">
            <div class="relative mb-4">
              <h2
                class="flex text-2xl font-bold text-gray-900 mb-4 justify-center"
              >
                Sign In
              </h2>
              <p
                class="my-6 text-sm text-gray-500 flex justify-center font-semibold"
              >
                Join to Our Community with all time access and free
              </p>
              <div
                class="mt-4 flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-4"
              >
                <div class="w-full sm:w-1/2">
                  <button
                    type="button"
                    class="w-full flex justify-center items-center gap-2 bg-white text-sm text-gray-600 p-2 rounded-md hover:bg-gray-50 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 transition-colors duration-300"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="w-4"
                      id="google"
                    >
                      <path
                        fill="#fbbb00"
                        d="M113.47 309.408 95.648 375.94l-65.139 1.378C11.042 341.211 0 299.9 0 256c0-42.451 10.324-82.483 28.624-117.732h.014L86.63 148.9l25.404 57.644c-5.317 15.501-8.215 32.141-8.215 49.456.002 18.792 3.406 36.797 9.651 53.408z"
                      ></path>
                      <path
                        fill="#518ef8"
                        d="M507.527 208.176C510.467 223.662 512 239.655 512 256c0 18.328-1.927 36.206-5.598 53.451-12.462 58.683-45.025 109.925-90.134 146.187l-.014-.014-73.044-3.727-10.338-64.535c29.932-17.554 53.324-45.025 65.646-77.911h-136.89V208.176h245.899z"
                      ></path>
                      <path
                        fill="#28b446"
                        d="m416.253 455.624.014.014C372.396 490.901 316.666 512 256 512c-97.491 0-182.252-54.491-225.491-134.681l82.961-67.91c21.619 57.698 77.278 98.771 142.53 98.771 28.047 0 54.323-7.582 76.87-20.818l83.383 68.262z"
                      ></path>
                      <path
                        fill="#f14336"
                        d="m419.404 58.936-82.933 67.896C313.136 112.246 285.552 103.82 256 103.82c-66.729 0-123.429 42.957-143.965 102.724l-83.397-68.276h-.014C71.23 56.123 157.06 0 256 0c62.115 0 119.068 22.126 163.404 58.936z"
                      ></path>
                    </svg>
                    Sign In with Google
                  </button>
                </div>
                <div class="w-full sm:w-1/2">
                  <button
                    type="button"
                    class="w-full flex justify-center items-center gap-2 bg-white text-sm text-gray-600 p-2 rounded-md hover:bg-gray-50 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 transition-colors duration-300"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      id="github"
                      class="w-4"
                    >
                      <path
                        d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"
                      ></path>
                    </svg>
                    Sign In with Github
                  </button>
                </div>
              </div>
              <p
                class="my-6 text-sm text-gray-500 flex justify-center font-semibold"
              >
                or with email
              </p>
              <div class="relative mb-4">
                <label
                  for="name"
                  class="leading-4 text-sm text-gray-900 font-bold"
                  >Username</label
                >
                <input
                  type="text"
                  id="name"
                  name="username"
                  class="w-full bg-white rounded border border-gray-300 focus:border-accent focus:ring-1 focus:ring-accent text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
              <div class="relative mb-4">
                <label
                  for="passw"
                  class="leading-4 text-sm text-gray-900 font-bold"
                  >Password</label
                >
                <input
                  type="password"
                  id="passw"
                  name="password"
                  class="w-full bg-white rounded border border-gray-300 focus:border-accent focus:ring-1 focus:ring-accent text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
              <button
                type="submit"
                class="text-white bg-primary border-0 py-2 px-8 focus:outline-none hover:bg-secondary transition delay-200 duration-300 ease-in-out rounded-lg text-base font-semibold mt-2 w-full"
              >
                Sign In
              </button>
              <div class="mt-4 text-sm text-gray-600 text-center">
                <p>
                  Don't have an account?
                  <a class="text-black hover:underline" onclick="renderSignup()"
                    >SignUp here</a
                  >
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- image animation area -->
      <div class="flex items-center justify-center w-1/2 h-screen">
        <div>
          <img
            src="/static/panda.png"
            alt="Traveller Image"
            class="wobble-animation w-4/5"
          />
        </div>
      </div>
    </div>

    <style>
      @keyframes smoothWobble {
        0% {
          transform: translateY(0) scale(1) rotate(0deg);
        }
        20% {
          transform: translateY(-6px) scale(1.03) rotate(-2deg);
        }
        40% {
          transform: translateY(0) scale(1) rotate(1deg);
        }
        60% {
          transform: translateY(6px) scale(0.98) rotate(-1deg);
        }
        80% {
          transform: translateY(0) scale(1) rotate(2deg);
        }
        100% {
          transform: translateY(0) scale(1) rotate(0deg);
        }
      }
      .wobble-animation {
        animation: smoothWobble 3.5s ease-in-out infinite;
        display: block;
        margin: 0 auto;
        will-change: transform;
      }
    </style>
    <script>
      function renderSignup() {
        document.querySelector(".signin").classList.remove("active");
        document.querySelector(".signup").classList.add("active");
        document.querySelector(".signin").classList.add("hidden");
      }

      function renderSignin() {
        document.querySelector(".signup").classList.remove("active");
        document.querySelector(".signin").classList.add("active");
      }
    </script>
  </body>
</html>
